.desktopNavigationWrapper {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    background-color: cornflowerblue;
}

.navigationLogotype {
    width: 90px;
}

.signInButton,
.profile {
    grid-column: 15/16;
}